year|semester |ue      |module     |tp|td|cm|coefficient |teachers:teachers_mail		     |grade_type:grade_coefficient|work:percentage:grade
2019|2        |Sciences|Mathematics|0 |2 |4 |3		 |Rodriguez:rodriguez@x.com,maria:maria@x.com|td:0.2,tp:0.4,cm:0.4        |cm1/Devoir_Paul_Dissertation1:25:17
