module     |ue      |tp|td|cm|coefficient|teachers:teachers_mail		     |grade_type:grade_coefficient|work:percentage:grade
Mathematics|Sciences|0 |2 |4 |3		 |Rodriguez:rodriguez@x.com,maria:maria@x.com|td:0.2,de:0.8		  |Mathematics/Sciences/CM_1/devoir:95:17o
